@model examen_p1.Models.Consulta

@{
    ViewBag.Title = "Ventas";
}

<h2>Ventas</h2>
<hr />
<br />

<div class="col-md-12">

    <form action="/Pedido/Ventas" method="post">

        <div class="row">
            <div class="col-md-6">

                <p>Realizar la consulta de las ventas por:</p>

                <input type="radio" name="TipoBusqueda" value="Dias" checked />
                <label for="TipoBusqueda">Dias</label>

                <br />

                <input type="radio" name="TipoBusqueda" value="Mes" />
                <label for="TipoBusqueda">Mes</label>

            </div>

            <div class="col-md-6">

                <p>Selección el filtro:</p>

                <label for="FiltroDia">Dia:</label>
                <select name="FiltroDia" class="form-control">
                    <option value="Monday">Lunes</option>
                    <option value="Tuesday">Martes</option>
                    <option value="Wednesday">Miercoles</option>
                    <option value="Thursday">Jueves</option>
                    <option value="Friday">Viernes</option>
                    <option value="Saturday">Sabado</option>
                    <option value="Sunday">Domingo</option>
                </select>

                <br />

                <label for="FiltroMes">Mes:</label>
                <select name="FiltroMes" class="form-control">
                    <option value="01">Enero</option>
                    <option value="02">Febrero</option>
                    <option value="03">Marzo</option>
                    <option value="04">Abril</option>
                    <option value="05">Mayo</option>
                    <option value="06">Junio</option>
                    <option value="07">Julio</option>
                    <option value="08">Agosto</option>
                    <option value="09">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>

            </div>

        </div>

        <div class="row">
            <input class="btn btn-primary" type="submit" name="name" value="Consultar" />
        </div>

    </form>


    <br />

    <div class="row">

        <div>
            <p>@ViewBag.filtro</p>
        </div>

        <table class="table table-hover">

            <thead>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Subtotal</th>
            </thead>

            <tbody>

                @if (ViewBag.pedidos != null)
                {
                    double total = 0;

                    foreach (string registros in ViewBag.pedidos)
                    {
                        string[] item = registros.Split(',');
                        total += Convert.ToDouble(item[item.Length - 1]);
                        <tr>
                            <td>@item[0]</td>
                            <td>@item[item.Length - 3]</td>
                            <td>@item[item.Length - 1]</td>
                        </tr>
                    }

                    <tr class="info">
                        <td colspan="2" class="text-uppercase" style="font-size:18px;">Total</td>
                        <td>@total</td>
                    </tr>

                }
                else
                {
                    <tr class="warning text-center">
                        <td colspan="4">No ha pedido ninguna pizza</td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>

